body{
    background-color: hsla(0, 0%, 0%, 0.705);
}

.card{
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    background-color: hsla(0, 0%, 0%, 0.705);
    color: white;
}

.spinner-border{
     position: relative;
     left: 49%;
    
}