<!DOCTYPE html>
<html lang="es-esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="stylesheet" href="../css/navegacion.css">
    <link rel="shortcut icon" href="../img/Sleeping_Computer_22599.png" type="image/x-icon">
    <title>Acerca de nosotros</title>
</head>
<body>
    <header>
        <nav>
            <a href="/index.html">Inicio</a>
            <a href="./productos.html">Productos</a>
            <a href="./servicio.html">Servicios</a>
            <a href="./nosotros.html">Acerca de nosotros</a>
            <a href="./contacto.html">Contacto</a>
            

            <div>
                <h1>Acerca de nosotros</h1>
            </div>
        </nav>
    </header>


    <div>
        
        <img src="../img/Historia.avif" alt="" class="imagen1">

        <div class="text-rigth">
            <h2>Nuestra historia:</h2>
            <br>
            <br>
            <h3><li>Somos una empresa dedicada a la tecnologia, creada en 2023, a pedido de el profesor Tomas, para ser presentada como proyecto final para la comision 43 de BA.</li></h3>
        </div>
            

        <img src="../img/M ision.jpg" alt="" class="imagen2">

        <div class="text-left">
            <h2>Nuestra Mision:</h2>
            <br>
            <br>
            <h3><li>Nuestra mision es la venta y compra de productos de computacion garantizando la mayor seguridad y confianza para nuestros clientes </li></h3>
        </div>
        

        <img src="../img/Vision.jpg" alt="" class="imagen3">

        <div class="text-rigth2">
            <h2>Nuestra Vision:</h2>
            <br>
            <h3><li>Somos una empresa en crecimiento, nuestra vision es poder llegar a diferentes partes del pais y lograr abrir mas sucursales para aumentar la eficacia</li></h3>
        </div>
            
        <img src="../img/Valores.jpg" alt="" class="imagen4">

        <div class="text-left2">
            <h2>¿Cuales son nuestos valores?</h2>
        
        <br>
        <div class="text1">
        <h4><span>1</span> Honestidad</h4>
            <div>
                <p>Siempre mantenemos la honestidad por sobre todo, para que nuestros clientes no se lleven ningun disgusto sobre los productos comprados, cada detalle o inperfeccion es publicado y detallado</p>
            </div>

            <br>

        <h4><span>2</span> Transparencia</h4>
            <div>
                <p>Siempre buscamos brindar toda la informacion posible a nuestros clientes, somos 100% transparentes con la informacion que brindamos para mantener la seguridad con la que trabajamos </p>
            </div>

            <br>
        
        <h4><span>3</span> Responsabilidad</h4>
            <div>
                <p>Por sobre todo, siempre mantenemos nuestro compromiso con los clientes para que su producto llegue en tiempo y forma</p>
            </div>

            <br>

        <h4><span>4</span> Calidad</h4>
            <div>
                <p>Cada producto vendido se prueba con anticipacion antes de ser publicado, estos tienen que cumplir con diferentes aspectos para garantizar la calidad</p>
            </div>
        </div>
            
        <br>
        <br>
        <br>
        <br>

        <section class="comentarios" id="opiniones">

            <h4 class="comentarioscliente">Que opinan nuestros clientes</h4>
            <div class="caja-conteiner">
                <div class="caja">
                    <div class="usuarios"></div>
                    <img src="../img/user_1.png" alt="">
                    <h5>Pedro Altamirano</h5>
                    <p>@Pedro1650</p>
                    <div class="estrellas">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="comentario">
                        <p>
                            En mi experiencia Terra realmente es el mejor servicio, en verdad es sencillo, inteligente y amigable. Tiene herramientas realmente fáciles de usar y templetes muy bellos y útiles. Yo me siento muy feliz y lo recomiendo ampliamente. De hecho ya le he estado recomendando. Muchas gracias!
                        </p>

                    </div>

                </div>
                <div class="caja">
                    <div class="usuarios"></div>
                    <img src="../img/user_3.png" alt="">
                    <h5>Nicolas Aquino</h5>
                    <p>@nico23</p>
                    <div class="estrellas">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="comentario">
                        <p>
                            Me prestaron excelente servicio, puntual y cumplido. Además me ayudaron y contestaron mis dudas. Recomiendo esta empresa ampliamente.
                        </p>

                    </div>

                </div>
                <div class="caja">
                    <div class="usuarios"></div>
                    <img src="../img/user_2.png" alt="">
                    <h5>Flor Herrera</h5>
                    <p>@flor_lp</p>
                    <div class="estrellas">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="comentario">
                        <p>
                            Estoy muy agusto con esta pagina, me gustan sus diseños en Webs yo encontré la mejor opción.
                        </p>

                    </div>

                </div>

            </div>


        </section>

       <div>
        <h5>Dejanos tu comentario</h5>
       </div>
            
        <section id="app">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="comment">
                <p v-for="items in item" v-text="items"></p>
                  </div>
                  </div>
                  </div>
              <div class="row">
                <div class="col-6">
                <textarea type="text" class="inputnombre" placeholder="Escribi tu perfil de instagram o facebook" v-model="newItem" @keyup.enter="addItem()"></textarea>
                
              <textarea type="text" class="input" placeholder="Dejanos tu Comentario" v-model="newItem" @keyup.enter="addItem()"></textarea>
                  <button onclick="servicio()" class='primaryContained float-right' type="submit">Enviar</button>
                </div>
              </div>
            </div>
          </section>

          <footer>
        
            <div class="contenedor-footer">
                <div class="content-foo">
                    <h4>Correo</h4>
                    <p>nahu00070@gmail.com</p>
                </div>
                <div class="content-foo">
                    <h4>Facebook</h4>
                    <p>@nahuel.yannuzzi.9</p>
                </div>
                <div class="content-foo">
                    <h4>Instagram</h4>
                    <p>@nahuel_yannuzzi</p>
                </div>
            </div>
    
            <h2 class="titulo-final">&copy; Nahuel Yannuzzi</h2>
    
    
        </footer>
        
    <script src="../js/script.js"></script>
    <script src="https://kit.fontawesome.com/5c6103afc7.js" crossorigin="anonymous"></script>
    
</body>
</html>